<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Aletheion</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar navbar-light bg-light" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 25px;">
                    <a class="navbar-brand" href="#"><h3 style="border-bottom: solid 1px lightblue; color:darkblue;">Aletheion Blockchain</h3></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row" style="padding: 0px 30px;">
            <div class="col-md-6" style="border-right: solid 1px lightgray;">
                <div class="row sectionHeading">
                    <div class="col-sm-12">
                        <span style="background-color:transparent;"><h5>Companies</h5></span>
                        <button id="add_company_button" type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#companyModal">Add Company</button>
                    </div>
                </div>

                <!-- Company Modal -->
                <div class="modal fade" id="companyModal" tabindex="-1"
                     role="dialog" aria-labelledby="companyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="companyModalLabel">Add Company</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="companyForm" action="" method="POST">
                                    <div class="form-group">
                                        <label for="companyInputName">Company Name</label>
                                        <input name="companyName" type="text" class="form-control" id="companyInputName" placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyInputAddress">Address</label>
                                        <input name="address" type="text" class="form-control" id="companyInputAddress" placeholder="Enter address">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyInputSiret">SIRET</label>
                                        <input name="siret" type="number" class="form-control" id="companyInputSiret" aria-describedby="idHelp" placeholder="Enter SIRET">
                                        <small id="siretHelp" class="form-text text-muted">ID made up of 14 digits.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyInputTouch" class="col-sm-12" style="padding-left: 0px;">Touch ID</label>
                                        <select name="touch" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="companyInputTouch">
                                            <option selected value="To configure">To configure</option>
                                            <option value="Configured">Configured</option>
                                        </select>
                                    </div>

                                    <!-- The hidden field -->
                                    <input type="hidden" name="$class" value="org.acme.sample.Company"/>
                                    <input type="hidden" name="companyId" value="" id="companyId"/>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="companyFormSubmit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Company Update Modal -->
                <div class="modal fade" id="companyUpdateModal" tabindex="-1"
                     role="dialog" aria-labelledby="companyUpdateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="companyUpdateModalLabel">Update Company</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="companyUpdateForm" action="" method="PUT">
                                    <div class="form-group">
                                        <label for="companyInputName">Company Name</label>
                                        <input name="companyName" type="text" class="form-control" id="companyInputName" value ="" placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyInputAddress">Address</label>
                                        <input name="address" type="text" class="form-control" id="companyInputAddress" value ="" placeholder="Enter address">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyInputSiret">SIRET</label>
                                        <input name="siret" type="number" value ="" class="form-control" id="companyInputSiret" aria-describedby="idHelp" placeholder="Enter SIRET">
                                        <small id="siretHelp" class="form-text text-muted">ID made up of 14 digits.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyInputTouch" class="col-sm-12" style="padding-left: 0px;">Touch ID</label>
                                        <select name="touch" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="companyInputTouch">
                                            <option selected value="To configure">To configure</option>
                                            <option value="Configured">Configured</option>
                                        </select>
                                    </div>

                                    <!-- The hidden field -->
                                    <input type="hidden" name="companyId" value="" id="companyId"/>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="companyUpdateFormSubmit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="companies_rows">
                    <!-- company data will be populated dynamically -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 sectionHeading">
                        <span style="background-color:transparent;"><h5>Accounts</h5></span>
                        <button id="reset_all_button" type="button" class="btn btn-danger" style="visibility: hidden">Reset All</button>
                    </div>
                    <div class="col-sm-6 sectionHeading">
                    <input type="text" ng-model="searchBox" id="search" onkeyup="searchForAccount()" placeholder="Enter IBAN to check...">
                    </div>
                </div>

                <div class="row">

                    <!-- Account Modal -->
                    <div class="modal fade" id="accountModal" tabindex="-1"
                         role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="accountModalLabel">Add Account</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="accountForm" action="" method="POST">
                                        <div class="form-group">
                                            <label for="accountInputName">Account Name</label>
                                            <input name="accountName" type="text" class="form-control" id="accountInputName" placeholder="Enter name">
                                        </div>
                                        <div class="form-group">
                                            <label for="clipInputTags">IBAN</label>
                                            <input name="iban" type="text" class="form-control" id="accountInputIban" aria-describedby="ibanHelp" placeholder="Enter IBAN">
                                            <small id="ibanHelp" class="form-text text-muted">For instance : FR7630004015870002601171220.</small>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-1" for="accountInputStatus">Status</label>
                                            <div class="col-sm-1">
                                                <input  style="margin-left: 20px;"
                                                        onclick="return false;"
                                                        name="status" type="checkbox" checked class="form-check-input"
                                                        id="accountInputStatus" value="Awaiting">
                                            </div>
                                            <div class="col-sm-9">Awaiting</div>
                                        </div>
                                        <!-- The hidden field -->
                                        <input type="hidden" name="$class" value="org.acme.sample.Account"/>
                                        <input type="hidden" name="accountId" value="" id="accountId"/>
                                        <input type="hidden" name="company" value="" id="company"/>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="accountFormSubmit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="accountTable" class="table table-bordered table-hover" style="margin:5px 10px;">
                        <thead style="background-color:#dfdfdf;">
                            <tr>
                                <th>Company</th>
                                <th>Name</th>
                                <th>IBAN</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- accounts data will be populated dynamically  -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Account List Modal -->
        <div class="modal fade" id="accountListModal" tabindex="-1"
             role="dialog" aria-labelledby="accountListModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="display: table;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="accountListModalLabel">Accounts</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: table;">
                        <table id="accountListTable" class="table table-bordered table-hover" style="margin:5px 10px;">
                            <thead style="background-color:#dfdfdf;">
                            <tr>
                                <th>Name</th>
                                <th>IBAN</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- accounts data will be populated dynamically  -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding: 0px 30px;">
            <div class="col-md-12" style="background-color:#d6faf8; padding: 5px; margin: 15px 0px; border: solid 1px lightgray">
                <span style="background-color:transparent;"><h5>Transactions</h5></span>
                <ul class="transactions">
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="progressModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Encryption on the blockchain...</h6>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated active"
                             role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Please wait...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://mozilla.github.io/nunjucks/files/nunjucks.js"></script>
    <script src="/javascripts/base.js"></script>
</body>
</html>